<%content_for(:title, "Posts of %s"[:posts_of] % [@user.login])%>

<%content_for :page_header do%>
  <h1><%="Posts of %s"[:posts_of] % [@user.login]%></h1>
<%end%>

<div class='clear' style='height:30px;'></div>
<%= will_paginate(@posts) || "<div class='clear' style='height:10px;'></div>" %>  
<table id="posts" cellpadding="0" cellspacing="0" style="width:100%" class="posts">
<%@posts.each do |post|%>
  	<%= render :partial=>'topics/post', :locals=>{:post=>post, :show_topics=>true} %>
<%end%>
</table>
<%= will_paginate @posts%>