<%=@message%>
<br/>
<br/>
<small>This message was sent from your profile page on Forulio Forums by <a href="<%=Configuration.url%>profile/<%=@sender.profile.id%>"><%=@sender.login%></a>.</small>
<br/>