<div class="outerBox" >
<div class="innerBox" >
	<div class="contentBox" >
		<% form_tag search_path, :method=>"get" do%>
      <input type='text' name='q' class='search_input' value="<%=params[:q]%>">
      <input type='submit'  value="<%="Search"[:search]%>">
    <%end%>
	</div>
</div>
</div>