body {
    background: #EEFFEE url(../images/right_top.png) no-repeat scroll right top;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2px;
}

h1 {
    font-size: 1.3em;
}

img {
    border-width: 0;
}

a link, a:visited {
    color: #0000EE;
}

a:hover {
    color: #31D200;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}

#container {
    margin: 0 auto;
    min-width: 950px;
    width: 95%;
}

#content {
    background: white none repeat scroll 0 50%;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 1px 1px 0;
    float: left;
    margin: 1em 0;
    min-height: 165px;
    min-width: 660px;
    width: 70%;
}

#innercontent {
    padding: 18px;
}

#right {
    float: right;
    font-family: 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    margin-right: 0;
    margin-top: 120px;
    min-width: 270px;
    width: 28%;
}

#right_panel {
    width: 99%;
}

#right p {
    font-size: 0.75em;
}

#footer {
    color: #333333;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin: 0 auto 3.5em 3%;
    min-width: 545px;
    padding: 0 15px;
    width: 67%;
}

#header {
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: 0;
    overflow: hidden;
    padding: 10px 23px 0 30px;
    position: relative;
    text-align: left;
    width: 64%;
}

#global_links {
    background-color: #EEFFEE;
    color: #56778B;
    float: right;
    font-size: 0.8em;
    text-align: right;
}

#header h1, #header h1 a {
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

#global_tabs {
    clear: left;
    margin: 15px 0 10px;
    padding: 0;
}

#global_tabs li {
    border: medium none;
    display: inline;
    font-size: 12pt;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 2px;
	background-color: #EEFFEE;
}

#global_links a:hover {
}

#global_links a {
    padding: 0;
}

#global_tabs a:link, #global_tabs a:visited {
    color: #495202;
}

#global_tabs a:hover {
    color: #FF8E14;
}

#global_tabs a.current:link, #global_tabs a.current:visited {
    color: #FF8E14;
    text-decoration: none;
}

#global_tabs li.basket a:link, #global_tabs li.basket a:visited {
    background: #496889 none repeat scroll 0 50%;
    border-bottom: 1px solid #496889;
}

#global_tabs a:hover, #global_tabs li.basket a:hover {
}

#global_tabs li.with_space a, #global_tabs li.with_space a.current {
    margin-right: 8px;
}

div.page_header {
    background: #DEE088 none repeat scroll 0 50%;
    margin: 0;
    padding: 10px 0 3px 18px;
}

div.outerBox {
	background:#FFFED4 none repeat scroll 0 0;
	border:1px solid #495202;
}

div.innerBox {
    border: 1px solid #FFFFFF;
    padding: 7px;
}

div.notice {
    background-color: #FBFFB6;
    color: #535353;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

div.warning {
    background-color: #FEE0C0;
    color: #535353;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

div.message {
    background-color: #D6FFCA;
    color: #535353;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

div.error {
    background-color: #FFDBD5;
    color: #535353;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

.errorExplanation {
    background-color: #FFE6E6;
    font-size: 0.9em;
    padding: 6px;
}

.errorExplanation h2 {
    color: #9A0000;
    font-size: 1.2em;
}

div.signup_form {
    float: left;
    width: 60%;
}

div.signup_form th {
    width: 150px;
}

div#upload_image_form {
    float: right;
    min-width: 280px;
    padding-top: 4px;
    width: 35%;
}

div.signup_form table td {
    padding: 4px;
}

div.signup_form table th {
    text-align: left;
    vertical-align: top;
}

div#uploaded_avatar {
    border: 1px solid black;
}

p.path {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.forulio, table.posts {
    border: 0 solid #CCCCCC;
    width: 99%;
}

.forulio td {
    border-top: 1px dashed #DDDDDD;
}

#forulio th {
    border-bottom: 1px dashed #DDDDDD;
}

#forulio td {
    border-top: 1px none;
}

#forulio th {
    padding: 4px;
    text-align: left;
}

a.forum_link {
    font-size: 1.5em;
}

#forulio td.last_post_td {
    font-size: 0.8em;
}

.lastpost {
    width: 200px;
}

div.border {
    border-bottom: 1px solid #CCCCCC;
    padding: 0;
}

div.category {
    width: 100%;
}

div.edit_zone {
    background-color: #FFF6E2;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
}

div.category div.create_forum {
    font-size: 0.7em;
}

table.edit_forum, .edit_forum td, .edit_forum tr {
    border: 0 none !important;
}

table.edit_forum {
    width: 100%;
}

table.edit_forum td input.edit {
    width: 90%;
}

.inplaceeditor-form {
    display: inline;
}

.editor_cancel_link {
    font-size: 12pt;
}

.editor_field {
    width: 70%;
}

tr.category_tr div.category_title {
    font-size: 1.3em;
    padding: 3px;
}

tr.category_tr td.content {
    background: #DEE088 none repeat scroll 0 50%;
}

div.last_post_div {
    font-size: 0.9em;
    padding: 5px;
}

tr.forum_tr div.forum {
    font-size: 1em;
    padding: 3px;
}

table#topics th.counters, td.counters {
    text-align: center;
    width: 100px;
}

table#topics td.counters {
    background-color: #FFFFEE;
    font-size: 0.8em;
}

table#topics td.views {
    font-size: 0.8em;
    text-align: center;
    width: 80px;
}

table#topics td.lastpost {
    background-color: #FFFFEE;
    text-align: center;
    width: 140px;
}

table#topics th {
    color: #CCCCCC;
    font-size: 0.9em;
}

div.last_post_div_small {
    font-size: 0.7em;
    padding: 5px;
}

.pagination {
    font-size: 0.8em;
    padding: 3px;
}

table.posts tr {
    border-top: 2px solid #CCCCCC;
    width: 100%;
}

td.post_author {
    text-align: center;
    vertical-align: top;
    width: 180px;
}

td.post_author div.info {
    font-size: 0.7em;
    font-weight: bold;
}

td.post_author div.info a.name {
    color: #4F9516;
    font-size: 1.2em;
    font-weight: normal;
}

td.post_author div.info span.user_status {
    color: #4F9516;
    font-size: 1.2em;
    font-style: italic;
}

td.post_content {
    min-height: 140px;
    padding: 0;
    vertical-align: top;
}

td.post_content .info {
    font-size: 0.8em;
    font-style: italic;
    height: 20px;
    padding: 0 0 0 7px;
}

td.post_content .info_with_topic {
    height: 40px !important;
}

td.post_content .content {
    font-size: 0.9em;
    line-height: 160%;
    min-height: 120px;
    padding: 7px;
}

td.post_content .info div {
    padding-right: 5px;
}

.hot_up_to_10min {
    background-color: #FFC477;
}

.hot_up_to_30min {
    background-color: #F3E7AF;
}

.hot_up_to_60min {
    background-color: #E7F3AF;
}

.hot_today {
    background-color: #CEF3AF;
}

.hot_this_week {
    background-color: #C7F9ED;
}

.hot_this_month {
    background-color: #CDE5FD;
}

.not_hot {
    background-color: #D7D4D7;
}

td.post_content div.reply {
    padding: 7px;
}

div.quick_topic_reply, textarea.post_editor {
    width: 100%;
}

div.message_flash {
    background-color: #BCE2D3;
    padding: 10px;
}

.new_topic_title {
    font-size: 1.1em;
    margin-bottom: 7px;
    padding: 3px 0;
    width: 100%;
}

.topic_title {
    border-bottom: 1px solid #000000;
}

.forum_title {
    border-bottom: 1px solid #000000;
    margin-bottom: 7px;
}

span.last_path_title {
    text-decoration: underline;
}

div.preview_topic {
    padding-top: 20px;
}

div.forum_in_topic {
    font-size: 0.8em;
    text-align: right;
    width: 100%;
}

div.forum_in_topic a {
    padding: 0 4px 3px 0;
}

blockquote {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    margin: 5px;
    padding: 5px;
}

cite {
    color: #4F9516;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
}

.signature {
    font-size: 0.9em;
    line-height: 160%;
    padding: 7px;
}

div.user_status_div {
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    min-width: 280px;
    padding-top: 4px;
    width: 35%;
}

div.user_status_div span {
    color: #003366;
}

div.separator_line {
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-top: 3px;
}

table.users, table.users th, table.users td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

table.users th a {
    font-size: 0.9em;
}

span.user_status_small {
    color: #4F9516;
    font-size: 0.9em;
    font-style: italic;
}

td.post_content pre {
    background: #000000 none repeat scroll 0 50%;
    color: #63FF00;
    font-family: "bitstream vera sans mono", monaco, "lucida console", "courier new", courier, serif;
    font-size: 9pt;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0.9em 0;
    overflow: auto;
    padding: 8px 8px 18px;
    width: 470px;
}
td.post_content pre {
  white-space: pre; 
  white-space: -moz-pre-wrap; 
  white-space: -hp-pre-wrap; 
  white-space: -o-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: pre-wrap; 
  white-space: pre-line; 
  word-wrap: break-word; 
}


.new_types {
    padding: 5px;
}

.new_types span {
    padding: 4px;
}

.new_types span.active {
    background-color: #FFF79B;
}

.search_div {
    text-align: center;
}

.search_input {
    width: 50%;
}

span.search_sel {
    background-color: yellow;
    padding: 2px;
}

div.result_links {
    margin-bottom: 10px;
    padding: 5px;
}

div.result_links span {
    cursor: pointer;
    padding: 4px;
}

div.result_links span.selected {
    background-color: #FFF79B;
}

div.monitoring {
    font-size: 0.8em;
}

span.topic_unread {
    font-weight: bold;
}

span.topic_monitored a {
    color: #DF8500;
}

div.content_wrapper {
    border-top: 1px solid #CCCCCC;
    min-height: 205px;
}

div.tags {
    background-color: #EFFFCF;
    font-size: 0.8em;
    min-height: 16px;
    padding: 0 0 0 7px;
}

div.tags img.tag_image {
    float: left;
    height: 16px;
    padding-right: 4px;
    width: 16px;
}

td.post_author div.content_wrapper div.info img {
    padding-top: 7px;
}

table#posts td {
    border-top: 10px solid #FFFFFF;
}

div.tag_tip {
    background: #FFFFFF none repeat scroll 0 50%;
    border: 1px solid #5C8AD0;
    padding: 7px;
}

div.tag_tip div.tag_actions {
    padding-top: 5px;
}

div.add_tags_panel {
    background: #E6E6E6 none repeat scroll 0 0;
    font-size: 0.9em;
    padding: 6px;
}

small.hint {
    color: #AAAAAA;
}

#manage_tags td {
    border-bottom: 1px solid #CCCCCC;
    font-size: 0.9em;
    padding: 4px 0 3px;
}

#manage_tags table td {
    width: 60px;
}

div.add_tags_panel input {
    font-family: arial;
    font-size: 0.8em;
}

div.autocomplete {
    background-color: white;
    border: 1px solid #888888;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
}

div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.autocomplete ul li.selected {
    background-color: #FFFFBB;
}

div.autocomplete ul li {
    cursor: pointer;
    display: block;
    height: 14px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

form {
    display: inline;
}

.delete_file_link {
    color: red;
    font-size: 0.9em;
}

.attachments_hidden {
    background-color: #EEEEEE;
    margin-top: 7px;
    padding: 4px;
}

.your_message {
    background-color: #FFD5FD;
    margin: 5px 0;
    padding: 7px;
	width:69%;
}
.flashes {
	width:70%;
}
.your_message div {
    font-size: 0.8em;
    margin: 5px 0 0;
}

img.smile {
    vertical-align: bottom;
}

span.online_status {
    float: right;
    font-weight: bold;
    padding-right: 5px;
}

span.online_status.online {
    color: green;
}

span.online_status.offline {
    color: grey;
}

sup.with_me {
    color: #008000;
    font-size: 0.7em;
}

.posted_from_ip {
    font-size: 0.7em;
    padding: 5px;
}

.fbutton {
    float: right;
    height: 25px;
    text-decoration: none;
}

.fbutton div.first {
    background-image: url(../images/reply_left.png);
    cursor: pointer;
    float: left;
    height: 25px;
    padding: 0;
    width: 3px;
}

.fbutton div.middle {
    background-image: url(../images/reply_center.png);
    background-repeat: repeat-x;
    color: #D56408;
    cursor: pointer;
    float: left;
    font-size: 1em;
    font-weight: bold;
    height: 25px;
    padding: 1pt 4px;
    text-align: center;
    vertical-align: middle;
}

.fbutton div.last {
    background-image: url(../images/reply_right.png);
    cursor: pointer;
    float: left;
    height: 25px;
    padding: 0;
    width: 3px;
}

table.messages{
  width : 100%;
}

table.messages td.date{
  width : 15%;
  color : #666;
  vertical-align : top;
  font-size : 0.7em;
}

table.messages td.author{
  width : 20%;
  color : #555;
  vertical-align : top;
  text-align : right;
  padding-right : 10px;
}

hr.soft{
  background-color:#ccc;
  border-style:none;
  color:#ccc;
  height:1px;
  margin-bottom:0;
  margin-top:0;
}
