<%content_for(:title, "Tags"[:tags])%>

<%content_for :page_header do%>
  <h1><%="Tags"[:tags]%></h1>
<%end%>

<% content_for("right") do %>
<%end%>

<div class='clear' style='height:30px;'></div>

<%=render :partial=>"partials/tags", :locals=>{:tags=>@tags, :search_url=>true}%>



