
<ul>
  <%files.each do |file|%>
    <li><%=link_to file.file_name, file_path(:id=>file.id, :name=>file.file_name)%>
    <%if post_id and (file.uploader==current_user or moderator_required)%>
        <%=link_to_remote "Delete"[:delete], :url=>delete_file_path(file.id, post_id), :html=>{:class=>'delete_file_link'}, :confirm=>"Sure?"[:sure_]%>
      <%end%>
      </li>
  <%end%>
</ul>