<%content_for(:title, "Black list"[:black_list])%>

<%content_for :page_header do%>
  <h1><%="Black list"[:black_list]%></h1>
<%end%>

<div class='clear' style='height:30px;'></div>

<%@ips.each do |ip|%>
	<div style="padding : 10px;" >
	    <%=ip.ip%> - 
		<%=link_to_remote 'unblock'[:unblock_ip] , :url=>{:controller=>'moderate', :action=>'remove_black'}, 
					:method => :post,
					:with=>"'ip=#{ip.ip}'",
					:confirm=>"Sure?"[:sure_]	%>
	</div>
<%end%>
